.env
schema.sql
node_modules/
pending.js
fetchAPI.js
scripts/
copy.js
schema_updated.sql
somenotes.js
somejson.json
urlScanner_copy.js  
emailScanner_copy.js  
notes.txt
authService copy.js
ppt_points.md